{% extends 'base_home_buyer.html' %}
{% block title %}买家主页{% endblock %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-item-center">
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <p class="p-tag" style="position: absolute; top: 0; right: 0;">自动定位：{{ address }}</p>
                </div>

                <ul id="house-list">
                    {% for house in houses %}
                        <div class="col-md-4" style="margin-bottom: 20px">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="{{ house.house_img.url }}" alt="房屋图片">
                                <div class="card-body text-center" style="margin-top: 10px">
                                    <p class="card-text" >{{ house.title }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="{% url 'buyer_house' house_id=house.id %}" class="btn btn-primary">详情</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>暂无房源信息</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <style>
        .btn{
            padding: 3px 6px;
        }
        .btn-primary {
            background-color: #333;
            border-color: #333;
        }

    .d-flex.align-item-center{
        margin-bottom: 50px;
        font-size: 22px;
        position: relative;
    }

    .glyphicon.glyphicon-map-marker{
        position: absolute;
        right: 245px;
        top: 5px;
    }

    .p-tag{
        position: absolute;
        top: 0;
        right: 0;
    }
    </style>

{% endblock %}
